<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../static/theme_tt.css">
</head>

<body style="	background-position: top left, top left;	background-size: 100%, 100%;	background-repeat: repeat, repeat;	background-image: url(&quot;https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5ed68e8310716f0007411996%2F0x0.jpg&quot;);">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container"> <a class="navbar-brand" href="{{url_for('index')}}">
        <img src="https://cdn.discordapp.com/attachments/850266840798330912/856444041247326208/Untitled-1.png" width="50 px" height="50 px">
        <b></b><b id="Name project">FITFAIZ</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar10">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="{{url_for('index')}}">HOME</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{{url_for('CT')}}">ABOUT</a> </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-light text-center">TUTORAIL</h1>
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center text-uppercase text-light" contenteditable="true">1.&nbsp;ยืนในกรอบและทำท่า&nbsp;UP&nbsp;เพื่อแสดงความพร้อมต่อหน้ากล้อง&nbsp;</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12"><img class="img-fluid d-block mx-auto img-thumbnail" src="https://cdn.discordapp.com/attachments/850266840798330912/856461098038067210/READY.jpg" width="50%">
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-uppercase text-center text-light">2.&nbsp;รอสัญญาณนับถอยหลัง&nbsp;</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12"><img class="img-fluid d-block mx-auto img-thumbnail" src="https://cdn.discordapp.com/attachments/850266840798330912/856461099607654400/321.jpg" width="50%">
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center text-light">3.Squat&nbsp;1&nbsp;ครั้ง&nbsp;เมื่อหน้าจอขึ้น&nbsp;Perfectจะมีจำนวนการ&nbsp;squat&nbsp;ที่หัวมุมบนซ้ายมือจึงเริ่มออกกำลังกาย&nbsp;</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12"><img class="img-fluid d-block mx-auto img-thumbnail" src="https://cdn.discordapp.com/attachments/850266840798330912/856461099390074911/Perfect.jpg" width="50%">
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center text-light">4. เมื่อออกกำลังกายเสร็จ ให้ยกมือทั้งสองข้าง ให้หน้าจอขึ้นคำว่า STOP รอสักระยะจะขึ้นหน้าจำนวน squat ทั้งหมดที่ทำได้&nbsp;</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12"><img class="img-fluid d-block mx-auto img-thumbnail" width="50%" src="https://cdn.discordapp.com/attachments/850266840798330912/856463463790149662/STOP.png">
          <div class="row">
            <div class="col-md-6"><a class="btn btn-primary" href="{{url_for('p2')}}">BACK</a></div>
            <div class="col-md-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary" href="{{url_for('vp')}}">NEXT</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>